*{
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 5em;
    background-color: burlywood;
    min-height: 66px;

    a{
        display: block;
        padding-top: 1.2em;
        margin-left: 16%;
    }
}

.articleWrapper{
    margin-bottom: 5em;
}


body section{
    margin-left: 33%;
    margin-right: 33%;
    border-bottom: 1px solid grey;
    padding: 2em;
}