*{
    margin: 0;
    padding: 0;
}


form{
margin-bottom: 10em;
padding: 1em 0em 1em 0em;
border-bottom: 1px solid grey;
}

.comment{
    border: 1px solid grey;
    padding: 1em;
}

header{
    margin-bottom: 5em;
    background-color: burlywood;
    min-height: 66px;

    a{
        display: block;
        padding-top: 1.2em;
        margin-left: 16%;
    }
}

.articleWrapper{
    margin-bottom: 5em;
}

#article{
    min-height: 6em;
    min-width: 36em;
}


body section{
    margin-left: 33%;
    margin-right: 33%;
    border-bottom: 1px solid grey;
    padding: 2em;
}