<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Cats</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <a href="/">Security Cats</a>
        <a href="/logout">Logout</a>
    </header>
    <section>
        <form id="article_form">
            <input type="hidden" id="csrf_token" value="{{ csrf_token|e }}">
            <div>
                <label for="atitle">Article Title</label>
                <input type="text" id="atitle" name="atitle">
            </div>
            <div>
                <label for="article">Write your blog post here</label>
                <textarea id="article" name="article"></textarea>
            </div>
            <div id="article_error" class="error"></div>
            <button type="submit">Submit Article</button>
        </form>
    </section>
    <script src="/static/admin.js"></script>
</body>
</html>