<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="module" async src="{{ url_for('static', filename='read.js') }}"></script>

    <title>{{ article.title }}</title>

</head>
<body>
        <header>
        <a href="{{ url_for('index') }}">Security Cats</a>        
        </header>

        <section>
            <h1>{{ article.title }}</h1>
            <p>{{ article.article }}</p>
        </section>

        <section id="comment_section">

                        <form id="comment_form">
                <div>
                </div>
                        <div>
                    <div>
                        <label for="article">Write your comment here</label>
                    </div>
                    <input type="text" id="comment" name="comment">
                </div>
                <input type="submit" value="Submit">    
            </form> 


            <div id="posted_comments"></div>

        </section>
</body>
</html>