<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="module" async src="{{ url_for('static', filename='login.js') }}"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">Security Cats</a>        
    </header>

    <section>
        <div id="login_error" style="color: red; margin-bottom: 10px;"></div>
        <form id="login_form">
            <div>
                <h3>Login</h3>
                <label for="name">Username</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
            </div>
            <input type="submit" value="Login">
        </form>

        <hr style="margin: 20px 0;">

        <div id="signup_error" style="color: red; margin-bottom: 10px;"></div>
        <form id="signup_form">
            <div>
                                <h3>Signup</h3>

                <label for="signup_name">Username</label>
                <input type="text" id="signup_name" name="signup_name">
            </div>
            <div>
                <label for="signup_password">Password</label>
                <input type="password" id="signup_password" name="signup_password">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
            </div>
            <input type="submit" id="signup_button" value="Signup">
        </form>
    </section>
</body>
</html>