<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Cats</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <a href="/">Security Cats</a>
    </header>
    <section>
        <h2>All Users</h2>
        <div>
            {% for user in users %}
                <div>
                    <a href="/user_profile/{{ user.id }}">{{ user.name }}</a>
                    {% if user.profile_pic %}
                        <img src="/static/uploads/{{ user.profile_pic|e }}" alt="{{ user.name }}'s profile picture" class="profile-pic">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>